@import "loginbutton";

$font-family-sans-serif:
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

h1 {
	font-family:$font-family-sans-serif;
	font-size:60px;
	color:#88fc03;
	text-align:center;
}

h2 {
	text-align:center;
}

button {
	float:right;
	margin: 10px;
}

img {
	margin: 10px;
	width:100px;
	height:auto;
	float: left;
}

section {
	clear:both;
}

#register {
	float: right;
	margin: 10px;
}

