@import "loginbutton";
@import url('https://fonts.googleapis.com/css?family=Cabin|Montserrat&display=swap');

$font-family-sans-serif:
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

h1 {
	font-family:"Cabin",$font-family-sans-serif,sans-serif;
	font-size:120px;
	color:#32cd32;
	text-align:center;
}

h2 {
	text-align:center;
	color:white;
}

#dashboard {
		clear: both;
	}


button {
	display:block;
	margin: auto;
}

#logo {
	display:block;
	margin: auto;
	margin-top: 20px;
	width:200px;
	height:auto;
}

section {
	clear:both;
}

#register {
	float: right;
	margin: 10px;
}

#mid {
	padding: 30px 0;
	background-color: black;
	font-family:"Montserrat";
}

footer {
	margin-top: 40px;
	text-align:center;
}

#login {
	margin-top:30px;
	border-radius: 10px;
	font-size:20pt;

}
